/* Edit */
th, td {
  padding: 5px 0px !important;
  border-top: 0;

  button {
    float: right;
  }
}

.full-screen-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 0;
  margin: 0;

  background-repeat: no-repeat;
  background-position: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.small-column {
  width: 40px;
}

.file-input {
  margin-top: 25px;
  width: 250px;

  border-bottom: solid 1px rgba(0,0,0,0.3);

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0,0,0,0.3);

  cursor: pointer;
}

.image-preview {
  height: 111.25px;
  width: 200px;
}

/* Play */
.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.cross-fade-height {
  transition: height .5s ease-in-out;
}
